@charset "utf-8";
.hidden{display:none;}
.item{
  position:absolute;
}
.item-in img{
  width:100%;
}

section.page{
  background-size:100% 100%;
}
a:link,a:active,a:hover,a:visited,
a, span, p{
  color:#fff;
  text-decoration:none;
  font-size:22px;
}


.page-1{
  background:url(../images/bg/1.jpg) no-repeat;
}
/* 介绍 */
.intro{
  width:65%;
  margin:40% auto 0;
  text-align:left;
  color:#eee;
  text-shadow:0 1px 1px rgba(0, 0, 0, 0.2);
}
.intro-hd{
  text-align:center;
  margin-bottom:30px;
}
.intro-hd .face,
.intro-hd .face img{
  width:100px;
  height:100px;
  border-radius:500px; 
}
.intro-hd .face{
  text-align:center;
  overflow:hidden;
  margin:0 auto;
  border:4px solid #fff;
  box-shadow:0 6px 10px rgba(0, 0, 0, 0.2);
  margin-bottom:10px;
}
.intro-hd .name{}

.intro-bd{}
.intro-bd p{
  font-size:16px;
  line-height:1.5;
}
.intro-bd p strong{
  color:#fff;
  margin:0 4px;
}
.intro-bd p.name{
  padding-bottom:10px;
}

.page-2{
  background:url(../images/bg/2.jpg) no-repeat;
}


.page-3{
  background:url(../images/bg/3.jpg) no-repeat;
}


.page-4{
  background:url(../images/bg/4.png) no-repeat;
}


.page-5{
  background:url(../images/bg/5.png) no-repeat;
}


.page-6{
  background:#313131;
}



@media and (max-width:320px){
  section.page a,
  section.page span{
    font-size:18px;
  }
}